.main {
    display: flex;
    margin-top: var(--standard-margin);
}

.main label {
    flex: 0 0 130px;
}

.input {
    flex-grow: 1;
}

.input input {
    width: 100%;
}

.message {
    margin-left: var(--standard-margin);
    font-size: var(--form-message-font-size);
}
