:root {
    --cells-in-row: 8;
}

.main {
    width: Calc(100%/var(--cells-in-row));
    padding-bottom: Calc(100%/var(--cells-in-row));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
