.main {
    display: flex;
    margin-top: var(--standard-margin);
    height: 67px;
    width: 100%;
    transition: height var(--standard-animation-time);
    overflow: hidden;
}

.main.collapsed {
    height: 0;
    transition: height var(--standard-animation-time);
}

.inputs_block {
    width: Calc(100% - 130px);
}

.main label {
    width: 130px;
}

.inputs_block .message {
    margin-left: var(--standard-margin);
    font-size: var(--form-message-font-size);
}

.inputs_block input {
    width: 100%;
}
