.main {
    display: flex;
    margin-top: var(--standard-margin);
    height: 65px;
    width: 100%;
    transition: height var(--standard-animation-time);
    overflow: hidden;
}

.main.collapsed {
    height: 0;
    transition: height var(--standard-animation-time);
}

.input {
    width: Calc(100% - 130px);
}

.main label {
    width: 130px;
}

.input .message {
    margin-left: var(--standard-margin);
    font-size: var(--form-message-font-size);
}

.input input {
    width: 100%;
}
