.block {
    display: flex;
    margin-top: var(--standard-margin);
}

.block .input {
    width: Calc(100% - 130px);
}

.block label {
    width: 130px;
}

.block .input .message {
    margin-left: var(--standard-margin);
    font-size: var(--form-message-font-size);
}