.main {
    width: 100%;
    margin: var(--standard-margin) 0;
    padding: var(--standard-padding);
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    transition: height var(--standard-animation-time);
}

.main.no_timers {
    height: 100px;
}

.settings,
.timer {
    width: 100%;
    display: flex;
    gap: var(--standard-margin);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    margin-bottom: 20px;
    overflow: hidden;
}

.timer.collapsed {
    display: none;
}

.infinity_btn {
    width: 100%;
    height: 46px;
    transition: height var(--standard-animation-time);
    overflow: hidden;
}

.infinity_btn.collapsed {
    height: 0;
    transition: height var(--standard-animation-time);
}
