.coordinate {
    font-weight: bold;
    position: absolute;
    user-select: none;
    transition:
            transform var(--board-reverse-animation-time),
            top var(--board-reverse-animation-time),
            bottom var(--board-reverse-animation-time),
            right var(--board-reverse-animation-time),
            left var(--board-reverse-animation-time);
}

.coordinate.black {
    color: var(--black-color);
}

.coordinate.white {
    color: var(--white-color);
}

.coordinate.y {
    top: 0;
    left: 2%;
}

.coordinate.x {
    bottom: 0;
    right: 5%;
}

.coordinate.y_reversed {
    bottom: 0;
    right: 2%;
}

.coordinate.x_reversed {
    top: 0;
    left: 5%;
}

.figure {
    z-index: var(--figures-z-index);
    cursor: grab;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    transition:
            transform var(--board-reverse-animation-time),
            left var(--standard-animation-time),
            top var(--standard-animation-time);
}

.figure:active {
    cursor: grabbing;
}

.reversing {
    transform: rotate(-0.5turn);
}
