.coordinate {
    font-weight: bold;
    position: absolute;
    user-select: none;
}

.coordinate.black {
    color: var(--black-color);
}

.coordinate.white {
    color: var(--white-color);
}

.coordinate.y {
    top: 0;
    left: 2%;
}

.coordinate.x {
    bottom: 0;
    right: 5%;
}

.figure {
    z-index: var(--figures-z-index);
    cursor: grab;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    transition: left var(--standard-animation-time), top var(--standard-animation-time);
}

.figure:active {
    cursor: grabbing;
}
