@import "../../styles/colors.css";
@import "../../styles/dimensions.css";

.player_block {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
}

.player {
    width: fit-content;
    padding: 0 5px 5px 5px;
    margin: 0;
    word-break: break-all;
}

.player.active {
    background-color: var(--black-color);
    color: white;
    border-radius: 5px;
}

.figures {
    min-height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.figure {
    height: 100%;
    padding: 0;
    margin: 0;
}

.figure img {
    height: 20px;
}