.main {
    height: var(--button-height);
    width: 100%;
    padding: 5px 10px;
    border-radius: var(--standard-border-radius);
    border: none;
    font-weight: bold;
}

.primary {
    background-color: var(--btn-first-color);
    color: var(--btn-first-font-color);
}

.secondary {
    background-color: var(--btn-second-color);
    color: var(--btn-second-font-color);
 }

.primary:hover {
    background-color: var(--btn-first-hover-color);
    color: var(--btn-first-hover-font-color);
}

.secondary:hover {
    background-color: var(--btn-second-hover-color);
    color: var(--btn-second-hover-font-color);
}
