.figure_buttons_block {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.figure_button {
    width: 20%;
    padding: 10px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure_button:hover {
    cursor: pointer;
    background-color: var(--black-color);
}

.figure_button img {
    width: 80%;
}
