@import "../../../styles/colors.css";

.figure_btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.figure_btn {
    width: 20%;
    padding: 10px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure_btn:hover {
    cursor: pointer;
    background-color: var(--black-color);
}

.figure_btn img {
    width: 80%;
}