.main {
    padding: 5px;
    width: 100%;
    position: relative;
    z-index: var(--player-and-losses-z-index);
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
    transition: var(--board-reverse-animation-time);
}

.main.bottom {
    bottom: 0;
}

.main.top {
    top: 0;
}

.main.moved_bottom {
    top: calc(100% - 64px);
    bottom: unset;
}

.main.moved_top {
    bottom: calc(100% - 64px);
    top: unset;
}

.player {
    width: fit-content;
    padding: 0 5px 5px 5px;
    margin: 0;
    word-break: break-all;
}

.player.active {
    background-color: var(--black-color);
    color: white;
    border-radius: 5px;
}

.figures_block {
    min-height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.figure {
    height: 100%;
    padding: 0;
    margin: 0;
}

.figure img {
    height: 20px;
}
