.main {
    order: 2;
    box-sizing: content-box;
    /*border: var(--btn-first-hover-color) double 5px;*/
    overflow: hidden;
    border-radius: var(--standard-border-radius);
    display: flex;
    flex-wrap: wrap;
}
