@import "../../../styles/colors.css";
@import "../../../styles/dimensions.css";

.input {
    border: solid 1px var(--btn-first-color);
    border-radius: var(--standard-border-radius);
    padding: 1px 5px;
    width: 100%;
}