@import "../../styles/colors.css";

.board {
    margin: 5px 0;
    box-sizing: content-box;
    border: var(--black-color) solid 5px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}