@import "../../../styles/colors.css";

.entry {
    padding: 2px 5px 0 5px;
    height: 27px;
}

.current {
    background-color: var(--btn-first-hover-color);
    color: var(--btn-first-hover-font-color);
    cursor: default;
}

.other:hover {
    background-color: var(--btn-first-hover-color);
    color: var(--btn-first-hover-font-color);
    cursor: pointer;
}

.logo {
    width: 20px;
    margin-bottom: 4px;
}

.cell {
    margin-left: -5px;
}