@import "../../../styles/colors.css";
@import "../../../styles/dimensions.css";

.message {
    margin-left: var(--standard-margin);
    font-size: var(--form-message-font-size);
}

.checkbox {
    margin-top: var(--standard-margin);
}

.checkbox .name {
    width: 130px;
}

.checkbox label {
    display: flex;
    align-items: center;
    width: fit-content;
}

.checkbox input {
    display: none;
}
.checkbox span {
    height: 12px;
    width: 12px;
    border: solid 1px var(--btn-first-color);
    display: inline-block;
    position: relative;
    border-radius: 2px;
}
.checkbox [type=checkbox]:checked + span:before {
    content: url('../../../assets/check.png');
    position: absolute;
    top: -7px;
    left: 0;
}