@import "../../styles/colors.css";
@import "../../styles/dimensions.css";

.timer_and_names_block {
    width: 100%;
    margin: var(--standard-margin) 0;
    padding: var(--standard-padding);
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}