@import "../../styles/colors.css";
@import "../../styles/dimensions.css";

:root {
    --webkit-size: 6px;
}

.moves_block {
    width: 100%;
    height: 45vh;
    margin: var(--standard-margin) 0;
    padding: var(--standard-padding);
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
}

.moves {
    height: Calc(100% - 43px);
    overflow: auto;
    overflow-x: hidden;
    font-size: 90%;
}

.moves::-webkit-scrollbar {
    width: 12px;
    background-color: var(--primary-color);
}

.moves::-webkit-scrollbar-thumb {
    border: 2px var(--btn-first-color) solid;
    border-radius: var(--webkit-size);
    background-color: var(--btn-first-hover-color);
}

.moves::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 var(--webkit-size) rgba(0,0,0,0.2);
    border-radius: var(--webkit-size);
    background-color: var(--btn-first-color);
}