:root {
    --scrollbar-border-radius: 6px;
}

.main {
    width: 100%;
    height: 45vh;
    padding: var(--standard-padding);
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
}

.list {
    height: Calc(100% - 38px);
    overflow: auto;
    overflow-x: hidden;
    font-size: 90%;
}

@-moz-document url-prefix() {
    .list {
        scrollbar-color: var(--btn-first-hover-color) var(--btn-first-color);
    }
}

.list::-webkit-scrollbar {
    width: 12px;
    background-color: var(--primary-color);
}

.list::-webkit-scrollbar-thumb {
    border: 2px var(--btn-first-color) solid;
    border-radius: var(--scrollbar-border-radius);
    background-color: var(--btn-first-hover-color);
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 var(--scrollbar-border-radius) rgba(0,0,0,0.2);
    border-radius: var(--scrollbar-border-radius);
    background-color: var(--btn-first-color);
}


